@font-face {
  font-family: 'Microsoft YaHei';
  src: url('../font/msyh.ttf');
}

body {
  padding: 20px 20px;
  font-family: serif, 'Microsoft YaHei';
}

.overview-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.overview-part {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 20px;
  padding: 20px;
  border-radius: 5px;
  color: #ffffff;
}

.overview-part:last-child {
  margin-right: 0;
}

.all-tasks {
  background-color: #31b48d;
}

.unresolved-tasks {
  background-color: #38a1f2;
}

.processing-tasks {
  background-color: #7538c7;
}

.resolved-tasks {
  background-color: #3b67a4;
}

.title-row, .statistic-row {
  display: flex;
  justify-content: space-between;
}

.title-row {
  align-items: flex-start;
  margin-bottom: 20px;
  font-size: 14px;
}

.overview-bar h1, .overview-bar h2, .overview-bar h3, .overview-bar h4 {
  margin: 0;
}

.overview-bar h1 {
  font-size: 14px;
}

.overview-bar h2 {
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.3);
}

.statistic-row {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.overview-bar .iconfont {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 100px;
  opacity: 0.3;
}

.table-name {
  font-size: 25px;
  font-weight: normal;
}

.project-list {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  color: #333;
}

.table-header {
  background-color: #ebecf0;
}

.table-header td:nth-child(1) {
  width: 20%;
}

.table-header td:nth-child(3), .table-header td:nth-child(4) {
  width: 14%;
}

.table-header td:nth-child(5) {
  width: 10%;
}

.project-list tr {
  border-bottom: 1px solid #dcdee3;
}

.project-list td {
  padding: 15px;
}

.project-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.project-description:hover {
  display: block;
}

.delete-icon {
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  background-color: #ee706d;
}