@font-face {
  font-family: 'Microsoft YaHei';
  src: url('../font/msyh.ttf');
}

body {
  padding: 20px 20px;
  font-family: serif, 'Microsoft YaHei';
}

.overview-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.overview-part {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  padding: 20px;
  border-radius: 5px;
  color: #ffffff;
}

.overview-part:last-child {
  margin-right: 0;
}

.all-tasks {
  background-color: #31b48d;
}

.unresolved-tasks {
  background-color: #38a1f2;
}

.processing-tasks {
  background-color: #7538c7;
}

.resolved-tasks {
  background-color: #3b67a4;
}

.title-row, .statistic-row {
  display: flex;
  justify-content: space-between;
}

.title-row {
  align-items: flex-start;
  margin-bottom: 20px;
  font-size: 14px;
}

.overview-bar h1,
.overview-bar h2,
.overview-bar h3,
.overview-bar h4 {
  margin: 0;
}

.overview-bar h1 {
  font-size: 14px;
}

.overview-bar h2 {
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.3);
}

.statistic-row {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.overview-bar .iconfont {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 100px;
  opacity: 0.3;
}

.table-name {
  font-size: 25px;
  font-weight: normal;
}

.project-list {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  color: #333;
}

.table-header {
  background-color: #ebecf0;
}

.table-header td:nth-child(1) {
  width: 20%;
}

.table-header td:nth-child(3),
.table-header td:nth-child(4) {
  width: 14%;
}

.table-header td:nth-child(5) {
  width: 10%;
}

.project-list tr {
  border-bottom: 1px solid #dcdee3;
}

.project-list td {
  padding: 15px;
}

.project-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.project-description:hover {
  display: block;
}

.delete-icon {
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  background-color: #ee706d;
}

.delete-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.delete-dialog {
  position: relative;
  width: 340px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
}

.delete-content-box {
  margin-left: 45px; 
}

.delete-content-box h3{
  margin: 15px 0 0 0;
  line-height: 24px;
  font-size: 20px;
  font-weight: normal;
  color: #333;
}

.delete-content-box h4{
  margin: 8px 0 25px 0;
  font-size: 14px;
  font-weight: normal;
  color: #666;
}

.buttons-banner {
  display: flex;
  justify-content: flex-end;
}

.buttons-banner div{
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #818388;
  border-radius: 2px;
  font-size: 14px;
  padding: 5px 10px;
}

.delete-popup .icon-wenhao {
  position: absolute;
  left: 20px;
  top: 35px;
  color: #f1c826;
  font-size: 24px;
}

.delete-popup .icon-guanbi {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #696969;
  font-size: 16px;
}

.confirm-btn {
  color: #ffffff;
  background-color: #3080fe;
}